# Forza Rust a usare lld (il linker ultraveloce) invece di quello di base del Mac
[target.aarch64-apple-darwin]
rustflags = [
    "-C", "link-arg=-fuse-ld=/opt/homebrew/bin/ld64.lld"
]

[target.x86_64-apple-darwin]
rustflags = [
    "-C", "link-arg=-fuse-ld=/opt/homebrew/bin/ld64.lld"
]

[target.x86_64-pc-windows-msvc]
# cargo-xwin gestisce il download automatico delle Windows SDK libs e wrappa lld-link
linker = "rust-lld"
runner = "cargo xwin"
rustflags = ["-C", "linker-flavor=msvc", "-C", "link-arg=-fuse-ld=lld"]
